/* fonts */
@import url("https://fontsapi.zeoseven.com/309/main/result.css");
@import url("https://fonts.cdnfonts.com/css/cascadia-code");
@import url("https://fonts.cdnfonts.com/css/Operator-Mono");
@import url("https://fonts.cdnfonts.com/css/fira-code-2");
@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");
/* @import url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css"); */

:root {
  --radius: 5px;
  --font-size: 1.15rem;
  --line-height: 1.54em;
  /* 配色 */
  --background: #000000;
  --foreground: #ffffff;
  --accent: #ccd2cc;

  /* 深色模式 */
}

body {
  font-family: "Operator Mono", "Cascadia Code", Georgia, "Latin Modern Roman", "Linux Libertine",
    "Liberation Serif", "KingHwa_OldSong", "Source Han Serif SC", "Source Han Serif TC",
    "Source Han Serif", "Noto Serif CJK SC", "Noto Serif CJK TC", "Noto Serif CJK", "Songti SC",
    STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW-Sung",
    "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW",
    "AR PL UMing TW MBE", PMingLiU, MingLiU, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", serif;
  font-feature-settings: "halt";
}

/* more */

.header__logo {
  font-size: larger;
}

.menu__trigger,
.menu__dropdown {
  font-size: smaller;
}

.navigation-menu li {
  text-transform: uppercase;
}

.navigation-menu {
  margin-left: 2rem;
}

.copyright .info {
  text-transform: uppercase;
}

.copyright .builder {
  font-size: smaller;
  font-style: italic;
}

.copyright .builder a {
  text-decoration: none;
}

.copyright .builder a::before {
  content: "\27A4";
  margin-right: 0.2rem;
}

.footer hr {
  border: none;
  height: 0.2rem;
  margin: 1rem auto;
  opacity: 0.35;
}


.container.full {
  max-width: 80%;
}

@media (max-width: 768px) {
  .container.full {
    max-width: 100%;
  }
}


.post-content>p,
.post-content div>p,
.post-content div>blockquote p {
  text-indent: 2rem;
}

img {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

figure {
  border: 3px solid var(--accent);
  padding: 3px;
  border-radius: var(--radius);
}

figure figcaption {
  background: var(--background);
  color: var(--accent);
  font-size: smaller;
  margin: 2px auto;
}

li img {
  display: inline;
  height: var(--font-size);
  vertical-align: middle;
}

button {
  border: 2px solid var(--accent);
}

blockquote {
  border-left: 3px solid var(--accent);
  border-bottom: none;
  border-top: none;
}

blockquote::before {
  content: "";
}

.post-cover {
  border: 2px solid var(--accent);
  border-radius: var(--radius);
  padding: 2px;
}

/* extra */
.header__logo::before {
  content: "";
  display: inline-block;
  width: var(--line-height);
  height: var(--line-height);
  background-image: url("/logo-white.png");
  background-size: cover;
  background-position: center;
  margin: 0 1rem;
  /* filter: invert(1); */
}

code,
kbd {
  font-family: "Operator Mono", "Cascadia Code", "Fira Code", "JetBrains Mono", Monaco,
    "Ubuntu Mono", monospace !important;
}